[package]
name = "furiosa-mlperf-postprocess"
version = "0.1.0"
edition = "2021"
build = "build.rs"
exclude = ["models"]
# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[features]
legacy-npu-tools = []
cpp_impl = ["cpp", "cpp_build", "cbindgen"]

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[lib]
name = "furiosa_mlperf_postprocess"
crate-type = ["cdylib", "rlib"]

[dependencies]
cpp = { version = "0.5.6", optional = true }
crc = "2.1.0"
eyre = "0.6.5"
indexmap = "1.8.0"
itertools = "0.10.3"
lazy_static = "1.4.0"
numpy = "0.16"
openmp-sys = "1.2.3"
prost = "0.11.0"
pyo3 = { version = "0.16.6", features = ["extension-module"] }
rayon = "1.5.1"
tracing = "0.1.29"

[build-dependencies]
cbindgen = { version = "0.20.0", optional = true }
cpp_build = { version = "0.5.6", optional = true }
prost-build = "0.11.0"
